name: Lint and Test

on:
  pull_request:
    branches-ignore:
      - "main"
    paths-ignore:
      - "**/*.[mM][dD]"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2

      - run: |
          npm --version
          npm ci
          npm run lint
          npm run test:unit
